.git
.vim/plugged/
issue*
.plugged
*.swp
*.un~
*.BACKUP
test
testPageWin
testPageUnix
node_modules
package-lock.json

!.vimrc
!.config/nvim/init.vim

!.vim/autoload/plug.vim
!.config/nvim/autoload/plug.vim
